<section class="content-header">
    <h1>Edit project</h1>
</section>

<section class="content">

    <br>

    <label>Title</label>
    <input type="text" class="form-control" ng-model="project.title">

    <label>Tags</label>
    <input type="text" class="form-control" ng-model="project.tags">

    <label>Author</label>
    <input type="text" class="form-control" ng-model="project.author">

    <br>

    <div class="button" ngf-select="uploadFiles($file)">Upload on file select</div>

    <div class="btn btn-xs btn-success" ng-click="editProject()">Save</div>
    <div class="btn btn-xs btn-warning" ui-sref="projects">Go back</div>

</section>
