<!DOCTYPE>

<html>

    <% include header.ejs %>

<body>

    <% include navigation.ejs %>


    <div class="title-container">
      <div class="main-title">
       <h1>Hi this is ejs csm assignment</h1>
      </div>
    </div>



</body>
</html>
