<div class="nav-container">
        <a href="/" class="nav-button <%- pageName === 'landing'?'selected':''%>">HOME</a>
        <a href="/articles" class="nav-button <%- pageName === 'articles'?'selected':''%>">ARTICLES</a>
        <a href="/projects" class="nav-button <%- pageName === 'projects'?'selected':''%>">PROJECTS</a>
</div>
