<section class="content-header">
    <h1>Articles</h1>
</section>

<section class="content">

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Tags</th>
                <th>Date created</th>
                <th>Author</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="article in articles">
                <td>{{article.title}}</td>
                <td>{{article.tags}}</td>
                <td>{{article.dateCreated | date:'dd.MM.yyyy, hh:mm:ss'}}</td>
                <td>{{article.author}}</td>
                <td><div class="btn btn-xs btn-danger" ng-click="deleteArticle(article._id)">Delete</div>
                <div class="btn btn-xs btn-primary" ui-sref="edit-article({id:article._id})">Update</div></td>
            </tr>
        </tbody>
    </table>

    <div class="btn btn-xs btn-success" ui-sref="new-article">Create new article</div>
    <div class="btn btn-xs btn-danger">Delete selected</div>

</section>
